.item-input {
  margin-bottom: 10px;

  span {
    display: inline-block;
    width: 230px;
  }

  input {
    width: 190px;
    font-size: 18px;
    padding: 3px;
    border-radius: 3px;
  }

  select {
    width: 200px;
    font-size: 18px;
    padding: 3px;
    border-radius: 3px;
  }
}
